* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --bg-body: #fff;
  --bg-dark: #000;
  --bg-header: #000;
  --bg-header-scroll: #000;
  --bg-second: #79788c;
  --bg-hover: rgba(1, 1, 1, 0.3);
  --color-hover: #323048;
  --color-text: #fff;
  --color-text-scrolled: #fff;
  --color-white: #fff;
  --text-dark: #000;
  --bg-home: #2694e9;
  --bg-btn: #2694e9;
  --header-underline: #0a78cc;
  --services-bg: #0a64a8;
  --services-border: #504f93dd;
  --bg-btn-hover: #fff;
  --color-icon: rgb(5, 83, 160);
  --color-gray: #333;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --tw-bg-opacity: 1;
}

:root.dark-mode {
  --bg-body: #121212;
  --bg-dark: #1e1e1e;
  --bg-header: #1f1f1f;
  --bg-header-scroll: #fff;
  --bg-second: #2c2c2c;
  --color-hover: #e5e5e5;
  --color-text: #000;
  --text-dark: #fff;
  --color-text-scrolled: #000;
  --bg-home: #1f78cc;
  --bg-btn: #1a73e8;
  --header-underline: #3492f0;
  --services-bg: #004d99;
  --services-border: #797987;
  --bg-btn-hover: #444;
  --color-icon: #78a5ff;
  --color-gray: #fff;
  --shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
}

body {
  background-color: var(--bg-body);
}

/* scroll */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--bg-dark);
}

*::-webkit-scrollbar-thumb {
  background: var(--bg-second);
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--bg-second);
}

/*  start header section */
header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
  background-color: transparent;
  transition: background-color 0.5s ease, padding 0.3s ease;
}

header.scrolled {
  background-color: var(--bg-header-scroll);
  /* Change to your desired dark color */
}

.header {
  background-color: var(--bg-header);
  padding: 10px 200px;
}

header .brand {
  color: var(--color-white);
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header.scrolled .brand,
header.scrolled .navigation .navigation-items a {
  color: var(--color-text-scrolled);
}

header .navigation {
  position: relative;
}

header .navigation .navigation-items a {
  position: relative;
  color: var(--color-white);
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items .btn-request {
  padding: 8px 14px;
  border: none;
  border-radius: 20px;
  background-color: var(--bg-btn);
  color: var(--color-white) !important;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.5s ease;
  opacity: 0.9;
}

header .navigation .navigation-items .btn-request:hover {
  opacity: 1;
}

#dark-mode-toggle i {
  padding-left: 20px;
  font-size: 20px;
  color: var(--color-text) !important;
  cursor: pointer;
}

/* header .navigation .navigation-items a:before {
  content: '';
  position: absolute;
  background: var(--bg-body);
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
  width: 100%;
} */

.header-section {
  margin-bottom: 10px;
}

.header-section .title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: var(--text-dark);

}

.header-section .title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-55%);
  width: 50px;
  height: 3px;
  background-color: var(--header-underline);
  border-radius: 3px;
}

.header-section .title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(30px);
  width: 10px;
  height: 3px;
  background-color: var(--services-border);
  border-radius: 3px;
}

/*  end header section */
/*  start home section */
section {
  padding: 100px 200px;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--bg-home);
}

.home:before {
  z-index: 777;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bg-hover);
  width: 100%;
  height: 100%;
}

.home .content {
  z-index: 888;
  color: var(--color-white);
  width: 70%;
  margin-top: 50px;
}

.home .content h1 {
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  /* line-height: 75px; */
  margin-bottom: 30px;
}

.home .content h1 span {
  font-size: 30px;
  font-weight: 600;
}

.home .content p {
  font-size: 22px;
  margin-bottom: 50px;
}

.home .content .btn {
  background: var(--bg-btn-hover);
  padding: 15px 35px;
  color: var(--text-dark);
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
  transition: 0.3s ease;
}

.home .media-icon {
  z-index: 888;
  position: absolute;
  right: 30px;
  bottom: 40%;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}

.home .media-icon a {
  color: var(--color-white);
  font-size: 25px;
  transition: 0.5s ease;
}

.home .media-icon a:not(:last-child) {
  margin-bottom: 20px;
}

.home .media-icon a:hover {
  transform: scale(1.3);
}

.home video {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {

  header,
  .header {
    padding: 10px 20px;
  }

  section {
    padding: 100px 20px;
  }

  .home .media-icon {
    right: 15px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-dark);
  }

  header .navigation .navigation-items a {
    color: var(--bg-dark);
    font-size: 18px;
    font-weight: 600;
    margin: 20px;
  }

  header .navigation .navigation-items a:before {
    background: var(--bg-dark);
  }

  header .navigation.active .navigation-items {
    background: var(--bg-body);
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  header .navigation.active .navigation-items a {
    color: var(--text-dark);
  }

  .menu-btn {
    background: url(../img/menu.png) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active {
    z-index: 999;
    background: url(../img/close.png) no-repeat;
    background-position: center;
    background-size: 25px;
    transition: 0.3s ease;
  }
}

@media screen and (max-width: 1200px) {
  .home {
    min-height: 70vh;
  }
}


@media (max-width: 500px) {
  .home {
    min-height: 60vh;
  }

  .home .content {
    width: 80%;
    margin-top: 25px;
  }

  .home .content h1 {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 15px;
  }

  .home .content p {
    font-size: 19px;
    margin-bottom: 30px;
  }

  .home .content .btn {
    padding: 10px 15px;
    font-size: 18px;
  }
}

/*  end home section */
/*  start Module section */
.modules {
  margin: 70px 0;
}

.module-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 75%;
  margin: 40px auto;
}

.module-card {
  border: 1px solid;
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  width: calc(25% - 60px);
  min-width: 250px;
  height: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: visible;
  margin: 10px 0;
}

.module-content {
  transition: transform 0.4s ease-in-out;
  position: relative;
  z-index: 99 !important;
  text-align: left !important;
  overflow: hidden;
}

.module-content h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 15px;
  transition: color 0.3s ease-in-out;
}

.module-content p {
  font-size: 12px;
  color: var(--color-gray);
}

.module-card:hover .module-content {
  transform: translateY(-70px);
  overflow: visible;
}

/* Icon Styling */
.module-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}

.btn-more {
  margin-top: 10px !important;
  border: none !important;
  color: #fff !important;
  border-radius: 20px !important;
  padding: 7px 12px !important;
  font-size: 14px !important;
  width: 120px !important;
  display: none !important;
  transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out !important;
  border: none !important;
}

.module-card:hover .btn-more {
  display: block !important;
}

.module-erp:hover .btn-more {
  background-color: #4e69e2;
}

.module-retail:hover .btn-more {
  background-color: #a64be5;
}

.module-hospitality:hover .btn-more {
  background-color: #39c5ed;
}

.module-school:hover .btn-more {
  background-color: #f76659;
}


/* Color Styles */
.module-erp {
  border-color: #4e69e2;
  color: #4e69e2;
}

.module-erp:hover {
  background-color: #4e69e21d;
  transition: all 0.4s ease-in-out;
}

.module-retail {
  border-color: #a64be5;
  color: #a64be5;
}

.module-retail:hover {
  background-color: #a54be51c;
  transition: all 0.4s ease-in-out;
}

.module-hospitality {
  border-color: #39c5ed;
  color: #39c5ed;
}

.module-hospitality:hover {
  background-color: #39c6ed1f;
  transition: all 0.4s ease-in-out;
}

.module-school {
  border-color: #f76659;
  color: #f76659;
}

.module-school:hover {
  background-color: #f7665912;
  transition: all 0.4s ease-in-out;
}

/* Responsive Design */
@media screen and (max-width: 1200px) {
  .module-container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .module-card {
    width: calc(50% - 20px);
  }

  .module-container {
    gap: 10px;
    width: 100%;
    margin: 40px auto;
  }
}

@media screen and (max-width: 480px) {
  .module-card {
    width: calc(50% - 10px);
    min-width: 150px;
  }

  .module-container {
    gap: 10px;
  }
}


/*  end Module section */

/* Start section about */
.about-section {
  background: url(../img//m1.jpg) no-repeat left;
  background-size: 55%;
  background-color: var(--bg-body);
  overflow: hidden;
  padding: 50px 0;
  margin: 40px;
}

.inner-container {
  width: 55%;
  float: right;
  background-color: var(--bg-body);
  padding: 80px;
}

.inner-container h1 {
  color: var(--text-dark);
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text {
  font-size: 13px;
  color: var(--color-gray);
  line-height: 30px;
  text-align: justify;
}

.skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 40px;
  color: var(--text-dark);
}

.skills span {
  padding: 7px 0;
}

.btn-read {
  border: none;
  color: var(--color-white);
  background-color: var(--bg-btn);
  border-radius: 20px;
  padding: 12px 25px;
  font-size: 16px;
  opacity: 1;
  transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.btn-read:hover {
  opacity: .9;
}

@media screen and (max-width:1200px) {
  .inner-container {
    padding: 40px 20px;
  }
}

@media screen and (max-width:1000px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }

  .inner-container {
    width: 100%;
  }
}

@media screen and (max-width:600px) {
  .about-section {
    padding: 0;
    margin: 0;
  }

  .modules {
    margin: 35px 0;
  }

  /* .inner-container {
    padding: 30px 20px;
  } */
}

/* .about {
  width: 80%;
  padding: 40px 20px;
  margin: 20px auto;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section .container-about {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
  align-items: center;
  gap: 20px;
}

.about-section .content-about {
  flex: 1;
  min-width: 300px;
  line-height: 30px;
}

.about-section .content-about h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-weight: 600;
}

.about-section .content-about p {
  margin-bottom: 20px;
}

.about-section .content-about ul {
  list-style: none;
  padding: 0;
}

.about-section .content-about ul li {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}

.about-section .content-about ul li i {
  color: var(--color-icon);
  margin-right: 10px;
  font-size: 16px;
}

.image-about {
  min-width: 300px;
}

.image-about img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .about {
    margin: 10px auto;
    width: 100%;
    padding: 20px 10px;
  }

  .about-section .container-about .content-about h2 {
    font-size: 1.2em;
  }

  .about-section .container-about {
    flex-direction: column;
  }

  .image-about img {
    max-width: 80%;
    margin: 0 auto;
  }

  .about-section .content-about {
    line-height: 25px;
  }
}

@media (max-width: 450px) {
  .about-section {
    margin: 10px auto;
    width: 100%;
    padding: 30px 15px;
  }

  .image-about img {
    max-width: 100%;
    margin: 0 auto;
  }

  .about-section .content-about {
    line-height: 20px;
  }
} */

/* End section about */

/* start section integration */
.integration {
  font-family: Arial, sans-serif;
  background-color: var(--bg-dark);
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.integration-section {
  width: 100%;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.integration-content {
  max-width: 1350px;
  margin: 0 auto;
  text-align: left;
}

.integration-content h2 {
  color: var(--color-white);
  font-size: 45px;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
  margin-bottom: 50px;
}

.integration-content h2 span {
  color: var(--color-white);
  font-size: 45px;
  margin-bottom: 20px;
  letter-spacing: 1px !important;
}

.integration-content p {
  color: var(--color-white);
  font-size: 1.2em;
  margin-bottom: 40px;
}

.wizard-progress {
  margin-top: 20px;
}

.wizard-progress img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Responsive styles */
@media screen and (max-width: 1200px) {
  .integration {
    min-height: 65vh;
  }
}

@media (max-width: 768px) {
  .integration {
    min-height: 85vh;
  }

  .integration-section {
    padding: 30px 15px;
  }

  .integration-content h2 {
    font-size: 35px;
  }

  .integration-content h2 span {
    font-size: 35px;
  }

  .integration-content p {
    font-size: 1em;
  }

  .wizard-progress img {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .integration-content h2 {
    font-size: 25px;
  }

  .integration-content h2 span {
    font-size: 25px;
  }
}

/* End section integration */

/* start section services */

/* section-services */

.section-services {
  color: var(--text-dark);
  padding: 70px 0;
}

.section-services .header-section {
  margin-bottom: 34px;
}

.section-services .header-section .title {
  position: relative;
  padding-bottom: 14px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 32px;
  color: var(--text-dark);
}

.section-services .header-section .title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background-color: var(--header-underline);
  border-radius: 3px;
}

.section-services .header-section .title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(30px);
  width: 10px;
  height: 3px;
  background-color: var(--services-border);
  border-radius: 3px;
}

.section-services .header-section .description {
  font-size: 14px;
  color: var(--dark-second);
}

.section-services .single-service {
  position: relative;
  margin-top: 30px;
  background-color: var(--bg-body);
  border-radius: 10px;
  padding: 40px 30px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 280px;
}

.section-services .single-service .content {
  position: relative;
  z-index: 20;
}

.section-services .single-service .circle-before {
  position: absolute;
  top: 0;
  right: 0px;
  transform: translate(40%, -40%);
  width: 150px;
  height: 150px;
  background-color: var(--services-bg);
  border: 6px solid var(--services-border);
  border-radius: 50%;
  opacity: 0.5;
  z-index: 10;
  transition: all .8s;
}

.section-services .single-service:hover .circle-before {
  width: 100%;
  height: 100%;
  transform: none;
  border: 0;
  border-radius: 0;
  opacity: 1;
}

.section-services .single-service .icon {
  display: inline-block;
  margin-bottom: 26px;
  width: 70px;
  height: 70px;
  background-color: var(--services-bg);
  border-radius: 5px;
  line-height: 70px;
  text-align: center;
  color: var(--color-text);
  font-size: 30px;
  transition: all .3s;
}

.section-services .single-service:hover .icon {
  background-color: var(--color-text);
  color: var(--services-bg);
}

.section-services .single-service .title {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 23px;
  transition: color .3s;
}

.section-services .single-service:hover .title,
.section-services .single-service:hover .description {
  color: var(--color-text);
}

.section-services .single-service .description {
  margin-bottom: 20px;
  font-size: 14px;
  transition: color .3s;
}

.section-services .single-service a {
  position: relative;
  font-size: 18px;
  color: var(--bg-dark);
  text-decoration: none;
  font-weight: 500;
  transition: color .3s;
}

.section-services .single-service:hover a {
  color: var(--color-text);
}

.section-services .single-service a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--services-bg);
  transition: background-color .3s;
}

.section-services .single-service:hover a:after {
  background-color: var(--color-text);
}

/* End section services */

/* End section deployment */
.deployment {
  background-color: #c5e1ff4a;
  border-radius: 15px;
}

.deployment-section {
  padding: 60px 40px;
  margin: 0px 100px;
  /* background-color: var(--bg-body); */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  border-radius: 15px;
}

.deployment-item {
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* align-items: flex-start; */
}

.deployment-item img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.deployment-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--text-dark);
}

.deployment-description {
  font-size: 16px;
  color: var(--color-gray);
  width: 80%;
}

@media screen and (max-width: 850px) {
  .deployment-section {
    padding: 30px 10px;
    margin: 0 10px;
  }

  .deployment-description {
    width: 100%;
  }

  .deployment-title {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

/* End section deployment */

/* start section pricing */
.section-pricing {
  padding: 60px 200px;
}

.card-price {
  position: relative;
  max-width: 320px;
  height: auto;
  background: linear-gradient(-45deg, #fe0847, #feae3f);
  border-radius: 15px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
  box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
  -webkit-transition: .5s;
  transition: .5s;
}

.card-price:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.col-sm-4:nth-child(1) .card-price,
.col-sm-4:nth-child(1) .card-price .title .fa {
  background: linear-gradient(-45deg, #f403d1, #64b5f6);

}

.col-sm-4:nth-child(2) .card-price,
.col-sm-4:nth-child(2) .card-price .title .fa {
  background: linear-gradient(-45deg, #ffec61, #f321d7);

}

.col-sm-4:nth-child(3) .card-price,
.col-sm-4:nth-child(3) .card-price .title .fa {
  background: linear-gradient(-45deg, #24ff72, #9a4eff);

}

/* .card-price::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, .1);
  z-index: 1;
  -webkit-transform: skewY(-5deg) scale(1.5);
  transform: skewY(-5deg) scale(1.5);
} */

.card-price .title .fa {
  color: #fff;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, .1);

}

.card-price .title h2 {
  position: relative;
  margin: 20px 0 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
  z-index: 2;
}

.card-price .price,
.card-price .option {
  position: relative;
  z-index: 2;
}

.card-price .price h4 {
  margin: 0;
  padding: 20px 0;
  color: #fff;
  font-size: 40px;
}

.card-price .option ul {
  margin: 0;
  padding: 0;

}

.card-price .option ul li {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 16px;
}

.card-price a {
  position: relative;
  z-index: 2;
  background: #fff;
  color: black;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  display: block;
  text-align: center;
  margin: 20px auto 0;
  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

}

.card-price a:hover {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .section-pricing {
    padding: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .section-pricing {
    padding: 40px 10px;
  }

  .card-price {
    padding: 30px 10px;
    margin: 10px 0;
  }

  .card-price:hover {
    -webkit-transform: scale(1.03);
  }

  .card-price .option ul li {
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  .section-pricing {
    padding: 30px 10px;
  }

  .card-price {
    max-width: 100%;
  }
}

/* end section pricing */

/* start requsetDemo */
.requsetDemo-section {
  padding: 50px 15px;
  text-align: center;
  background: linear-gradient(-45deg, #495fef, #004e92);
}

/* Title Styling */


.requsetDemo-description {
  font-size: 1rem;
  color: var(--color-text);
  max-width: 800px;
  margin: 0 auto 30px auto;
  line-height: 1.6;
}

.effect-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.service-button {
  padding: 10px 20px;
  background-color: var(--bg-btn);
  color: var(--color-text);
  text-decoration: none;
  border-radius: 10px;
  transition: transform 0.4s ease-in-out;
  width: 220px;
  font-size: 17px;
  font-weight: bold;
}

.service-button:hover {
  animation: wobble 1s ease-in-out;
  background-color: #000;
  color: #fff;
}

/* Define the wobble animation */
@keyframes wobble {

  0%,
  100% {
    transform: translateX(0);
  }

  15% {
    transform: translateX(-10px);
  }

  30% {
    transform: translateX(10px);
  }

  45% {
    transform: translateX(-6px);
  }

  60% {
    transform: translateX(6px);
  }

  75% {
    transform: translateX(-3px);
  }

  90% {
    transform: translateX(3px);
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .requsetDemo-title {
    font-size: 1.8rem;
  }

  .requsetDemo-description {
    font-size: 0.9rem;
    padding: 0 15px;
  }

  .service-button {
    font-size: 1rem;
    padding: 10px 25px;
    width: 180px;
  }

}

@media (max-width: 480px) {
  .requsetDemo-title {
    font-size: 1.5rem;
  }

  .requsetDemo-description {
    font-size: 0.85rem;
  }

  .service-button {
    font-size: 0.9rem;
    padding: 8px 20px;
  }
}

/* start section footer */
/* footer */
.footer {
  padding: 4rem 6rem;
  background: var(--bg-dark);
  color: var(--color-text);
}

.top {
  display: flex;
  align-items: center;
  text-align: start !important;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top i {
  color: var(--color-text);
  font-size: 1.5rem;
  margin-left: 1rem;
}

.top i:hover {
  color: var(--color-icon);
}

.bottom {
  padding-top: 2rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom div {
  display: flex;
  flex-direction: column;
}

.bottom h4 {
  font-size: 1.2rem;
  padding: 1rem 0.2rem;
}

.bottom a {
  text-decoration: none;
  color: var(--color-text);
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

@media screen and (max-width: 850px) {
  .footer {
    padding: 4rem 2rem;
  }

  .footer i {
    margin: 1rem 1rem 0 0;
  }

  .bottom div {
    width: 50%;
  }
}

/* icon Back to top */
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 45px;
  z-index: 99;
  background-color: var(--bg-btn) !important;
  color: var(--color-text) !important;
}

/* End section footer */

/* page request demo */
.demo-section {
  max-width: 800px;
  margin: 140px auto;
  padding: 30px 10px;
  background: rgb(255 255 255/var(--tw-bg-opacity));
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  border: 1px solid #eee;
  transition: transform 0.4s ease-in-out;
  animation: fade-in 1s ease-in-out;

}

.demo-section .container {
  max-width: 800px;
}

.demo-section .calendar {
  padding: 10px;
  border-radius: 8px;
}


.demo-section .details-header {
  padding: 5px 10px;
  border-radius: 8px;
}

.demo-section .details-header h4 {
  margin-bottom: 15px;
}

.details-header p {
  font-size: 14px;
  margin: 5px 0;
}

.demo-section .time-slots {
  padding: 5px 10px;
  border-radius: 8px;
}


.demo-section .time-slots .time-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.demo-section .time-slots .time-options button {
  flex-grow: 1;
}

@media (max-width: 767px) {
  .demo-section .calendar {
    padding: 20px;
  }

  .demo-section .details-header,
  .demo-section .time-slots {
    padding: 15px;
  }

  .demo-section .details-header h4 {
    margin-bottom: 15px;
    text-align: left;
  }
}